<table *ngIf="books.length">
    <tr>
        <th>ID</th>
        <th>Názov knihy</th>
        <th>Meno autora</th>
        <th>Názov žánru</th>
        <th>Dostupnosť</th>
        <th>Funkcie</th>
    </tr>
    <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authorFirstName }} {{ book.authorLastName }}</td>
        <td>[{{ book.categories }}]</td>
        <td>{{ book.availability === true ? 'Dostupná' : 'Nedostupná'}}</td>
        <td>
            <button (click)="updateBook(book.id)">Upraviť</button>
            <button (click)="deleteBook(book.id)">Vymazať</button>
        </td>
    </tr>
</table>