h3 {
    font-size: x-large;
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
}


dialog {
    max-height: 330px;
    width: 335px;
    border: none;
}
dialog > .header {
    padding: 18px;
    font-size: 25px;
}
dialog > .content {
    padding: 18px;
}
