label, input {
	display: block;
	margin-top: 8px;
}

p {
	margin-top: 2px;
}

button {
	margin-top: 4px;
	margin-bottom: 4px;
}

th {
	text-align: left;
}

th, td {
	table-layout: fixed;
	border: black 1px solid;
	padding: 4px 8px;
}

table {
	border-collapse: collapse;
	
}