.BookForm {
    position: relative;
    min-height: 200px;
    border: 1px solid #000;
    min-width: 200px;
    margin: 0;
    width: 400px;
    padding: 0 10px 10px;
	display: block;
}
.FormActionText {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.BookForm > button {
    position: relative;
    display: block;
    /* bottom: 10px; */
    margin: 0px auto 0;
}
.BookForm > label  {
    display: block;
    min-width: 10%;
    padding-right: 10px;
	padding-top: 8px;
}
.BookForm > input {
    margin: 2px 0;
}

.ErrorMessage {
    color: #f00;
    font-style: italic;
    line-height: 10pt;
}

p {
	margin: 4px;
}