<h1>Knihy</h1>
<button (click)="addUserDialog.showModal()">Pridať knihu</button>
<dialog #addUserDialog>
    <div class="header">Pridanie knihy</div>
    <div class="content">
        <app-book-form [bookData]="book"
                       (formCreate)="createBook($event); addUserDialog.close()"
                       (formCancel)="addUserDialog.close()"
        ></app-book-form>
    </div>
</dialog>
<app-book-list [books]="books"
               (bookToUpdate)="selectBookToUpdate($event)"
               (bookToDelete)="deleteBook($event)"
></app-book-list>