<div>
	<button>Používatelia</button>
	<button>Knihy</button>
	<button>Výpožičky</button>
</div>

<form [formGroup]="form">
	<label>Meno:</label>
	<input type="text" formControlName="name">
	<label>Priezvisko:</label>
	<input type="text" formControlName="surname">
	<button type="button" (click)="savePerson()">Uložiť</button>
</form>

<table *ngIf="persons.length">
	<tr>
		<th>Meno</th>
		<th>Priezvisko</th>
	</tr>
	<tr *ngFor="let person of persons">
		<td>{{ person.name }}</td>
		<td>{{ person.surname }}</td>
	</tr>
</table>