<h1>Cvičenie 1:</h1>
<div>
	<h2>Domáca úloha:</h2>
	<label>dec </label>
	<input class="decimalNumber" #decimalNumber type="number" [value]="number"
		(input)="updateCheckboxes(decimalNumber.value)" [max]="maximumNumber" [min]="minimumNumber">
	<br>
	<label>bin </label>
	<div class="checkboxes">
	</div>
</div>
<div>
	<h2>Bonusová úloha 1: Pure JS vs Angular</h2>
	<div>
		<!-- <button [ngClass]="buttonActive ? 'active' : ''" class="btn" (click)="toggleCssClass()">Click me</button> -->
		<button [ngClass]="{'active':buttonActive}" class="btn" (click)="toggleCssClass()">Click me</button>
	</div>
</div>