table {
    border-collapse: collapse;
    width: 72.5vmin;
    margin: 3rem auto;
}
td, th {
    border: 1px solid #000;
    max-width: 30vmin;
    word-break: break-all;
    padding: .75rem .5rem;
}
th {
    background-color: #aaa;
}
tr td:last-child {
    text-align: center;
}
tr td:last-child > button {
    margin: 0 .5rem;
}