:root{
    --paletteColor01: #293241;
    --paletteColor02: #3d5a80;
    --paletteColor03: #98c1d9;
    --paletteColor04: #e0fbfc;
    --paletteColor05: #ee6c4d;
}

body {
    background-color: #0c1422;
    color: #fff;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

table, th, td {
    border: 1px solid var(--paletteColor02) !important;
}
th {
    background-color: var(--paletteColor02)  !important;
}

button {
    background-color: var(--paletteColor05);
    padding: 1% 2%;
	color: black;
	font-size: 12pt;
}

table button {
	margin: 0 auto;
	padding: 2px 6px;
}

form label {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

/* table > * {
    rotate: 45deg;
    animation: rotateX .75s linear infinite;
}
@keyframes rotateX {
    0% {
        rotate: 0deg;
        transform: scale(0.5);
    }
    50% {
        rotate: 179deg;
        transform: scale(1.2);
    }
    100% {
        rotate: 359deg;
        transform: scale(0.5);
    }
} */
