:root{
    --paletteColor01: #293241;
    --paletteColor02: #3d5a80;
    --paletteColor03: #98c1d9;
    --paletteColor04: #e0fbfc;
    --paletteColor05: #ee6c4d;
}

body {
    background-color: #0c1422;
    color: #fff;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
h3 {
    font-size: x-large;
}
table {
}
/* 
table > * {
    rotate: 45deg;
    animation: rotateX .75s linear infinite;
}
@keyframes rotateX {
    0% {
        rotate: 0deg;
        transform: scale(0.5);
    }
    50% {
        rotate: 179deg;
        transform: scale(1.5);
    }
    100% {
        rotate: 359deg;
        transform: scale(0.5);
    }
} */
table, th, td {
    border: 1px solid var(--paletteColor02) !important;
}
th {
    background-color: var(--paletteColor02)  !important;
}

button {
    background-color: var(--paletteColor05);
    color: var(--paletteColor01);
    padding: 1% 2%;
}

tr > td:nth-child(5) > button::before{
    content: 'XX' !important;
    display: block;
    background-color: #98c1d9;
}
tr > td:nth-child(6) > button::before{
    content: 'XX' !important;
    display: block;
    background-color: #98c1d9;
}

form {
    width: 50%;
    margin: 0 20%;
    text-align: center;
}
form  input {
    width: 80% !important;
    margin: 0 auto;
}
div:has(router-outlet) {
    width: 100%;
}