<form [formGroup]="borrowingForm" (submit)="saveBorrowing()">
	<label>Používateľ:
		<select type="text" formControlName="user">
			<option *ngFor="let user of users" [value]="user.id">
				{{ user.id + ' ' + user.firstName + ' ' + user.lastName}}
			</option>
		</select>
	</label>
	<label>Knižka:
		<select type="text" formControlName="book">
			<option *ngFor="let book of books" [value]="book.id">
				{{ book.authorFirstName + ' ' + book.authorLastName + ' - ' + book.title }}
			</option>
		</select>
	</label>

	<button [disabled]="borrowingForm.invalid" type="button" (click)="saveBorrowing()">Uložiť</button>
	<button class="ta-r" type="button" (click)="formCancel.emit()">Zrušiť</button>

</form>

<form [formGroup]="borrowingForm">
	<label>Používateľ:
		<select *ngFor="let user of users">
			<option [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
		</select>
		<select *ngFor="let book of books">
			<option [value]="book.id">{{ book.title }}</option>
		</select>
	</label>
</form>